body{
  background-color: black;
  margin:0px;
  padding:0px;
}
.header{
  
   background-color:black;
  width:100%
  
}
.logo1{
  height:110px;
  width:210px;
}
.nav{
  float:right;
  margin-top:20px;
 
  margin-right:650px;
  
}
.nav a {
    float:left;
    color: #f2f2f2;
    text-align:start;
    margin-left:0px;
    padding: 25px 30px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav a:hover{
    color:black;
    background-color: #f2f2f2;

  }
 
.slidingpart{
  width:100%;
  height:500px;
  /*left:50%;*/
  top:50%;
  background-image: url("pic1.jpg");
  background-size: 100% 100%;
 
  animation: slider 10s infinite linear;
}
@keyframes slider
{
  0%{background-image: url("pic1.jpg");background-size: 100% 100%;}
  19%{background-image: url("pic2.jpg");background-size: 100% 100%; }
  38%{ background-image: url("pic3.jpg");background-size: 100% 100%;}
  76%{ background-image: url("pic4.jpg");background-size: 100% 100%;}
  
  
}
/*.footerone{
  background-color: #fdb71a;
  width:100%;
  height: 70px;
  margin-top: 50%;
}
#ftone{
  color:black;
  font-weight: bolder;
  font-size: 30px;
  position: absolute;
  margin-top: 5px;
  margin-left:300px;

}*/