*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'STIX Two Math', serif;
    box-sizing: border-box;
}
body{
    background:black;
}
.movies{
    width: 400px;
    height: 400px;
    border: 4px solid #fff59d;
}
.moviedetail{
    color:white;
    font-weight: bolder;
   
}
.banner{
    width: 100%;
    height: 100vh;
    background-size: 100% 450px;
    background-repeat: no-repeat

}
.banner1{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(spotlight.jpg);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
}
.nav-link{
    padding-right: 20px!important;
    text-decoration: underline
}

h1{
    font-weight: bold
}
.carousel-inner img {
    width: 100%;
    height: 50%;
}
.aboutimg{
    height: 300px!important;
    width: 300px!important;

}
.avatar{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:-50px;
    left: calc(50% - 50px);
}

.loginbox{
    width: 320px;
    height: 350px;
    background: url(back.jpg);
    background-position-x: -500px;
    top: 69%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.loginbox p{
    padding: 0;
    margin: 0;
    font-weight: bold;

}
.loginbox1{
    width: 800px;
    height: 530px;
    background: url(back.jpg);
    background-size: cover;
    border: 2px solid yellow;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.loginbox1 p{
    padding: 0;
    margin: 0;
    font-weight: bold;

}
.loginbox1 input{
    width: 35%;
    margin-bottom: 20px;
    color:black
}
.loginbox1 input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    
}
.loginbox1 input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: yellow;
    color: red;
    font-size: 20px;
    border-radius: 20px
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: yellow;
    color: red;
    font-size: 20px;
    border-radius: 20px
}
.butn2:hover{
    cursor: pointer;
    font-weight: bold;
    border: 5px solid red;
}
.butn{
    border: none;
    outline: none;
    width: 50%;
    margin-left: 100px;
    margin-bottom: 70px;
    height: 40px;
    background: red;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid yellow;
    border-radius: 20px
}
.butn:hover{
    cursor: pointer;
    font-weight: bold;
    border: 2px solid white;
}
.loginbox input[type="submit"]:hover {
    cursor: pointer;
font-weight: bold;
    border: 2px solid red
}
.heading{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.details{
    color: yellow
}
.detail{

    color: red
}
.add{
    position: absolute;
    top:150px;
    left: calc(50% - 80px);
    text-align: center;
    padding-top: 15px;
    width: 200px;
    height: 50px;
    background-size: 200px 100px;
    background-color: yellow;
    color: red;
    font-weight: bold
}
